@media screen and (max-width:768px){
     .hideOnMobile{
         display: none!important
    }
     #main h1{
         font-size:50px!important
    }
     #mobMeni ul{
         padding-left:10%
    }
     .logovanje{
         border-left:none!important;
         border-top:3px dashed #2c2a2a;
    }
    h2, h5, #footer{
      text-align: center;
    }
}
 @media screen and (min-width:768px){
     .hideOnBig{
         display: none!important
    }
     #mobMeni ul {
         list-style-image: none!important;
         text-align: center;
    }
     #mobMeni ul li:nth-child(odd){
         background-color:#f9ce19;
    }
     #mobMeni ul li:nth-child(even){
         background-color:#2c2a2a;
    }
}
 @media screen and (max-width:992px){
     .apSadrzaj{
         width:310px!important
    }
}
 @media screen and (min-width:1200px){
     .mobilniMeni{
         display: none!important
    }
}
 @media screen and (max-width:1200px){
     .reg{
         display:none
    }
     .desktopMeni{
         display:none
    }
     #mobMeni{
         width:100%;
         padding-top:1%;
         padding-bottom:1%;
    }
     #mobMeni ul {
         display: inline-block;
         list-style-image: url('../images/strelica.png');
         width:100%;
    }
     #mobMeni ul li {
         margin:0 auto;
         color:#fff
    }
     #mobMeni ul li a {
         color:#fff;
         text-transform: uppercase
    }
     .navbar-toggler{
         margin-top:50%
    }
}
 @media screen and (max-width:1359px){
     body{
         background-image: url("../images/bg.jpg")!important;
         background-repeat:repeat!important
    }
}
 @media screen and (min-width: 1920px){
     .container{
         max-width: 1200px!important
    }
}
